<body>
  


  <hr>

  <div class="container-fluid">
    <div class="cont">

      <div class="row">

        <div class="col-3 left">
          <div class="center">
            <img src="../../../../assets/gitprofile.png" alt="avatar" class="avatar" title="change the avatar?">
            <h3>ShaviyaVictor</h3>
            <a href="https://github.com/ShaviyaVictor" target=”_blank”>
              <button type="button" class="btn">Edit Profile</button>
            </a>
            <div id='fans'>
              <span>
                <i class="fa fa-user-o" aria-hidden="true"></i><strong>10</strong> followers .<strong> 15</strong> following
              </span>
            </div>
          </div>          
        </div>

        <div class="col right">
          <p id="pinned">
            Pinned
          </p>
          <div class="row repo">
            <div class="col-5 inter">
              <i class="fa fa-mobile fa-lg" aria-hidden="true"></i><a href="https://github.com/ShaviyaVictor?tab=repositories" class="repolink" target=”_blank”>akan_name_generator </a>
              <p class="aboutrepo">
                This is a web application that takes a user's birthday and calculates the day of the week they were born and then depending on their gender outputs their Akan Name. Akan names are derived from Ghan…
              </p>
              <i class="fa fa-circle" aria-hidden="true" style="color: #563D7C"></i> CSS<span><i class="fa fa-star-o" aria-hidden="true"></i></span> 1
            </div>
            <div class="col-5 inter">
              <i class="fa fa-mobile fa-lg" aria-hidden="true"></i><a href="https://github.com/ShaviyaVictor?tab=repositories" class="repolink" target=”_blank”>delani_studio </a>
              <p class="aboutrepo">
                A recreation of a landing page for a fictional studio.My task is to implement everything I have learnt from Bootstrap and jQuery. The project is aimed at achieving: A toggle effect when 'what we do…
              </p>
              <i class="fa fa-circle" aria-hidden="true" style="color: red;"></i> HTML<span><i class="fa fa-star-o" aria-hidden="true"></i></span> 1
            </div>
          </div>

          <div class="row repo">
            <div class="col-5 inter">
              <i class="fa fa-mobile fa-lg" aria-hidden="true"></i><a href="https://github.com/ShaviyaVictor?tab=repositories" class="repolink" target=”_blank”>deli_pizza </a>
              <p class="aboutrepo">
                A web application that aims to widen the customer base of my fictitious deli pizza place where my customers order different sizes of pizzas with one or more toppings.
              </p>
              <i class="fa fa-circle" aria-hidden="true" style="color: red;"></i> HTML<span><i class="fa fa-star-o" aria-hidden="true"></i></span> 1
            </div>
            <div class="col-5 inter">
              <i class="fa fa-mobile fa-lg" aria-hidden="true"></i><a href="https://github.com/ShaviyaVictor?tab=repositories" class="repolink" target=”_blank”>Planna_transport_Service </a>
              <p class="aboutrepo">
                This is a project executed as final group project for Moringa Pre-Prep by grp 12 geared towards creating a web application that will help public transport users. How? By helping them create tickets…
              </p>
              <i class="fa fa-circle" aria-hidden="true" style="color: red;"></i> HTML<span><i class="fa fa-star-o" aria-hidden="true"></i></span> 1
            </div>
          </div>

          <div class="row repo">
            <div class="col-5 inter">
              <i class="fa fa-mobile fa-lg" aria-hidden="true"></i><a href="https://github.com/ShaviyaVictor?tab=repositories" class="repolink" target=”_blank”> portfolio_landing_page </a>
              <p class="aboutrepo">
                This is my Portfolio Landing Page created as a submission for week1 Prep module at Moringa School. It is aimed at displaying my best work and provide others with an outlet to reach me.
              </p>
              <i class="fa fa-circle" aria-hidden="true" style="color: #563D7C"></i> CSS<span><i class="fa fa-star-o" aria-hidden="true"></i></span> 1
            </div>
            <div class="col-5 inter">
              <i class="fa fa-mobile fa-lg" aria-hidden="true"></i><a href="https://github.com/ShaviyaVictor?tab=repositories" class="repolink" target=”_blank”>quote_hub </a>
              <p class="aboutrepo">
                An application where users can create quotes and have those quotes voted on whether they are terrible or inspirational.
              </p>
              <i class="fa fa-circle" aria-hidden="true" style="color: red;"></i> HTML<span><i class="fa fa-star-o" aria-hidden="true"></i></span> 1
            </div>
          </div>

          <img src="../../../../assets/Activity.png" alt="activity" title="account activity" class="activity">

        </div>

        

      </div>

      <hr id="line">

      <footer>

        <i class="fa fa-github fa-lg" style="color: #6B6969;" aria-hidden="true"></i> &#169; 2022 || Shaviya

      </footer>

    </div>
  </div>


</body>