<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="keywords" content="github, api, repositories">
    <!-- All In One SEO Pack Start_detected [-1,-1] -->
    <meta name="description" content="search for github profile">
    <meta name="author" content="Victor Shaviya">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>githubSearch</title>
  </head>
  <body>
    
    <app-navbar></app-navbar>

    

  </body>
