img {
  width: 4em;
  cursor: pointer;
  margin-right: 2%;
}

form {
  float: left;
}

input.me-2 {
  height: 2.5em;
  width: 30em;
  margin-top: 0.28em;
  background-color: black;
}

nav {
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.fa-github  {
  margin-left: 8%;
  margin-right: 6%;
  cursor: pointer;
}

div#navigation p{
  display: inline;
  margin: 0.6em;
  cursor: pointer;
}

div#navigation p:hover, div#navigation p:active{
  color: #C4C4C4 !important; 
}

div#navigation {
  margin-top: 0.6em;
}

.me-2 {
  color: white;
}

div#loader {
  text-align: center;
  padding: 2rem;
}