<body>
  
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <form class="d-inline-flex">
        <i class="fa fa-github fa-3x" aria-hidden="true"></i>
        <input class="form-control me-2" type="search" placeholder="Search or jump to..." aria-label="Search">
        <div id="navigation">
          <strong>
            <a href=""><p>Home</p></a>
            <a href=""><p>GitSearch</p></a>
            <a href=""><p>Marketplace</p></a>
            <a href=""><p>Explore</p></a>
          </strong>
        </div>      
      </form>
      <img src="../../../../assets/Clone.png" alt="profile placeholder" title="dummy profile">  
    </div>
  </nav>
  
  <div id="loader" *ngIf='loading'>
    <i class="fa fa-spinner fa-pulse fa-4x fa-fw"></i><h4 class="sr-only">Loading...</h4>
  </div>

  <div>
    
  </div>

  <!--    import jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


</body>



