<body>
  
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <form class="d-inline-flex">
        <i class="fa fa-github fa-3x" aria-hidden="true"></i>
        <input class="form-control me-2" type="search" placeholder="Search or jump to..." aria-label="Search">
        <div id="navigation">
          <strong>
            <p>Pull</p>
            <p>Issues</p>
            <p>Marketplace</p>
            <p>Explore</p>
          </strong>
        </div>      
      </form>
      <img src="../../../../assets/Clone.png" alt="profile placeholder" title="dummy profile">  
    </div>
  </nav>

</body>



